<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />

    <title>Präsi</title>

    <style type="text/css">
        .reveal h1, .reveal h2, .reveal h3 {
            box-shadow: none !important;
        }
    </style>
    
</head>

<body>
    <div class="reveal">

        <!-- Any section element inside of this container is displayed as a slide -->
        <div class="slides">
            <section>
                <h1>Fake News<br/> und<br/> Künstliche Intelligenz</h1>
            </section>

            <section>
                <h1>Machine Learning</h1>
            </section>
            
            <section>
                <a href="http://172.17.245.106:8080/" style="font-size: 145pt;" target="_blank">Demo</a>
            </section>
            
            <section>
                <h2>Super Sache, aber wo können wir das einsetzen?</h2>
            </section>
            
            <section>
                <img src="img/logo_agf.png" />
            </section>
            
            <section>
                <img src="img/uvdl.jpg" />
            </section>
            
            <section>
                <h1>Real Talk</h1>
                <p>Mit Philip &amp; TJ</p>
            </section>
            
            <section>
                <h2>Zentralisierte<br/>Entscheidungs-<br/>Apparate</h2>
                <p>Jetzt bis zu 99% genau</p>
            </section>
            
            <section>
                <h2>Häufigste Merkmale</h2>
                <div class="row">
                    <div class="col-6">
                        <h3>Echt</h3>
                        <p>sagte</p>
                        <p>zwei</p>
                        <p>jahr</p>
                        <p>rund</p>
                        <p>euro</p>
                    </div>
                    <div class="col-6">
                        <h3>Fake</h3>
                        <p>oben</p>
                        <p>einfach</p>
                        <p>einmal</p>
                        <p>ohne</p>
                        <p>lassen</p>
                    </div>
                </div>
            </section>
            
            <section>
                <h2>Wichtige Merkmale</h2>
                <p>oben</p>
                <p>endlich</p>
                <p>einfach</p>
                <p>unglaublich</p>
            </section>
        
            
            <section>
                <h2>Datenquellen</h2>
                <div class="row">
                    <div class="col-6">
                        <h3>Echt</h3>
                        <img src="img/br24.png"/>
                    </div>
                    <div class="col-6">
                        <h3>Fake</h3>
                        <img src="img/postillion.jpg" style="height: 200px" />
                        <img src="img/titanic.png" />
                    </div>
                </div>
            </section>
            
            <section>
                <img src="img/internet-lies.jpg" />
            </section>
            
            <section>
                <img src="img/duty_calls.png" style="width: 60%" />
            </section>
            
            <section>
                <img src="img/tower.gif" style="width: 70%"/>
                <p style="font-size: 28pt">Lügendetektor ausprobieren:<br/>http://172.17.245.106:8080/</p>
            </section>
        </div>

    </div>

    <!-- <% if(false) { %> -->
    <!-- https://github.com/bananer/revealjs-starterpack -->
    <script src="https://philipfrank.de/slides/starterpack.js"></script>
    <!-- <% } %> -->
</body>

</html>
