$def with (form, text, result)
<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<title>Lügendetektor 3000</title>
	<style type="text/css">
		/* <[CDATA[ */
			* {
				font-family: sans-serif;
			}
			div.result {
				margin: 0 auto;
				font-size: 3em;
				line-height: 3.5em;
				height: 4em;
				width: 80%;
				border: solid 5px #ffff;
			}
			#text {
				margin: 0 auto;
				width: 80%;
			}
			.real {
				border-color: #090;
				color: #090;
			}
			.fake {
				border-color: #900;
				color: #900;
			}
			.caps {
				text-transform: uppercase;
			}
		/* ]]> */
	</style>
</head>

<body>
<header>
	<img src="logo_bgf.png" alt="Logo: Bundesagentur gegen Fakenews" />
	<h1>Lügendetektor 3000</h1>
</header>
<content>

<form name="main" method="post">
	$if not form.valid: <p class="error">Try again</p>
	<textarea name="text" id="text" cols="100" rows="10">$text</textarea><br/>
	<input type="submit" value="prüfen" />
</form>

$if result: <div class="result caps $result">$result</div>
$else: <div class="result">Ergebnis: </div>
</content>
<footer>
	<p>&copy; 2017 by Philip &amp; TJ</p>
</footer>
</body>

</html>